.mainContainer {
    margin: auto;
    min-width: 100%;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    justify-items: center;
    margin-top: 3rem;
}